# this composition orchestrates the comanda ecosystem for local development.

# it provisions the required infrastructure services and bounded contexts
# to enable end-to-end execution on a single machine.

services:
  comanda.infrastructure.mongo:
    container_name: "comanda.infrastructure.mongo"
    image: mongo:latest
    env_file:
      - .env
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - comanda.infrastructure.mongo:/data/db

  comanda.infrastructure.federation:
    container_name: "comanda.infrastructure.federation"
    image: httpsrichardy/federation:latest
    env_file:
      - .env
    ports:
      - "5100:8080"
    depends_on:
      - comanda.infrastructure.mongo
    environment:
      Settings__Database__ConnectionString: ${COMANDA_MONGO_CONNECTIONSTRING}
      Settings__Database__DatabaseName: ${COMANDA_MONGO_DATABASENAME}
      Settings__Administration__Username: ${COMANDA_ADMIN_USERNAME}
      Settings__Administration__Password: ${COMANDA_ADMIN_PASSWORD}

  comanda.infrastructure.seq:
    container_name: "comanda.infrastructure.seq"
    image: datalust/seq:latest
    restart: unless-stopped
    ports:
      - "5341:80"
      - "5342:5341"
    environment:
      ACCEPT_EULA: "Y"
      SEQ_FIRSTRUN_ADMINPASSWORD: ${SEQ_FIRSTRUN_ADMINPASSWORD}
    volumes:
      - comanda.infrastructure.seq:/data

  comanda.boundaries.stores:
    container_name: "comanda.boundaries.stores"
    build:
      context: ./Boundaries/Comanda.Stores/
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "5000:8080"
    depends_on:
      - comanda.infrastructure.federation
      - comanda.infrastructure.seq
    environment:
      # database settings
      Settings__Database__ConnectionString: ${COMANDA_MONGO_CONNECTIONSTRING}
      Settings__Database__DatabaseName: ${COMANDA_MONGO_DATABASENAME}

      # federation settings
      Settings__Federation__BaseUrl: ${COMANDA_FEDERATION_BASEURL}
      Settings__Federation__Realm: ${COMANDA_FEDERATION_REALM}
      Settings__Federation__ClientId: ${COMANDA_FEDERATION_CLIENTID}
      Settings__Federation__ClientSecret: ${COMANDA_FEDERATION_CLIENTSECRET}

      # observability settings
      Settings__Observability__SeqServerUrl: ${SEQ_SERVERURL}
      Settings__Observability__SentryDsn: ${SENTRY_DSN}

  comanda.boundaries.subscriptions:
    container_name: "comanda.boundaries.subscriptions"
    build:
      context: ./Boundaries/Comanda.Subscriptions/
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "5005:8080"
    depends_on:
      - comanda.infrastructure.federation
      - comanda.infrastructure.seq
    environment:
      # database settings
      Settings__Database__ConnectionString: ${COMANDA_MONGO_CONNECTIONSTRING}
      Settings__Database__DatabaseName: ${COMANDA_MONGO_DATABASENAME}

      # federation settings
      Settings__Federation__BaseUrl: ${COMANDA_FEDERATION_BASEURL}
      Settings__Federation__Realm: ${COMANDA_FEDERATION_REALM}
      Settings__Federation__ClientId: ${COMANDA_FEDERATION_CLIENTID}
      Settings__Federation__ClientSecret: ${COMANDA_FEDERATION_CLIENTSECRET}

      # stripe settings
      Settings__Stripe__Secret: ${COMANDA_STRIPE_SECRET}

      # observability settings
      Settings__Observability__SeqServerUrl: ${SEQ_SERVERURL}
      Settings__Observability__SentryDsn: ${SENTRY_DSN}

  comanda.boundaries.profiles:
    container_name: "comanda.boundaries.profiles"
    build:
      context: ./Boundaries/Comanda.Profiles/
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "5010:8080"
    depends_on:
      - comanda.infrastructure.federation
      - comanda.infrastructure.seq
    environment:
      # database settings
      Settings__Database__ConnectionString: ${COMANDA_MONGO_CONNECTIONSTRING}
      Settings__Database__DatabaseName: ${COMANDA_MONGO_DATABASENAME}

      # federation settings
      Settings__Federation__BaseUrl: ${COMANDA_FEDERATION_BASEURL}
      Settings__Federation__Realm: ${COMANDA_FEDERATION_REALM}
      Settings__Federation__ClientId: ${COMANDA_FEDERATION_CLIENTID}
      Settings__Federation__ClientSecret: ${COMANDA_FEDERATION_CLIENTSECRET}

      # observability settings
      Settings__Observability__SeqServerUrl: ${SEQ_SERVERURL}
      Settings__Observability__SentryDsn: ${SENTRY_DSN}

  comanda.boundaries.payments:
    container_name: "comanda.boundaries.payments"
    build:
      context: ./Boundaries/Comanda.Payments/
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "5015:8080"
    depends_on:
      - comanda.infrastructure.federation
      - comanda.infrastructure.seq
    environment:
      # database settings
      Settings__Database__ConnectionString: ${COMANDA_MONGO_CONNECTIONSTRING}
      Settings__Database__DatabaseName: ${COMANDA_MONGO_DATABASENAME}

      # federation settings
      Settings__Federation__BaseUrl: ${COMANDA_FEDERATION_BASEURL}
      Settings__Federation__Realm: ${COMANDA_FEDERATION_REALM}
      Settings__Federation__ClientId: ${COMANDA_FEDERATION_CLIENTID}
      Settings__Federation__ClientSecret: ${COMANDA_FEDERATION_CLIENTSECRET}

      # abacatepay settings
      Settings__AbacatePay__Url: ${COMANDA_ABACATEPAY_URL}

      # observability settings
      Settings__Observability__SeqServerUrl: ${SEQ_SERVERURL}
      Settings__Observability__SentryDsn: ${SENTRY_DSN}

  comanda.boundaries.orders:
    container_name: "comanda.boundaries.orders"
    build:
      context: ./Boundaries/Comanda.Orders/
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "5020:8080"
    depends_on:
      - comanda.infrastructure.federation
      - comanda.infrastructure.seq
    environment:
      # database settings
      Settings__Database__ConnectionString: ${COMANDA_MONGO_CONNECTIONSTRING}
      Settings__Database__DatabaseName: ${COMANDA_MONGO_DATABASENAME}

      # federation settings
      Settings__Federation__BaseUrl: ${COMANDA_FEDERATION_BASEURL}
      Settings__Federation__Realm: ${COMANDA_FEDERATION_REALM}
      Settings__Federation__ClientId: ${COMANDA_FEDERATION_CLIENTID}
      Settings__Federation__ClientSecret: ${COMANDA_FEDERATION_CLIENTSECRET}

      # observability settings
      Settings__Observability__SeqServerUrl: ${SEQ_SERVERURL}
      Settings__Observability__SentryDsn: ${SENTRY_DSN}

  comanda.boundaries.orchestrator:
    container_name: "comanda.boundaries.orchestrator"
    build:
      context: ./Boundaries/Comanda.Orchestrator/
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "5025:8080"
    depends_on:
      - comanda.infrastructure.federation
      - comanda.infrastructure.seq
    environment:
      # federation settings
      Settings__Federation__BaseUrl: ${COMANDA_FEDERATION_BASEURL}
      Settings__Federation__Realm: ${COMANDA_FEDERATION_REALM}
      Settings__Federation__ClientId: ${COMANDA_FEDERATION_CLIENTID}
      Settings__Federation__ClientSecret: ${COMANDA_FEDERATION_CLIENTSECRET}

      # downstream settings
      Settings__Downstream__ProfilesUrl: ${COMANDA_DOWNSTREAM_PROFILESURL}
      Settings__Downstream__StoresUrl: ${COMANDA_DOWNSTREAM_STORESURL}
      Settings__Downstream__PaymentsUrl: ${COMANDA_DOWNSTREAM_PAYMENTSURL}
      Settings__Downstream__SubscriptionsUrl: ${COMANDA_DOWNSTREAM_SUBSCRIPTIONSURL}
      Settings__Downstream__OrdersUrl: ${COMANDA_DOWNSTREAM_ORDERSURL}

      # observability settings
      Settings__Observability__SeqServerUrl: ${SEQ_SERVERURL}
      Settings__Observability__SentryDsn: ${SENTRY_DSN}

volumes:
  comanda.infrastructure.mongo:
  comanda.infrastructure.seq:
