name: comanda.stores pull request validation

on:
  pull_request:
    branches: [master]
    paths:
      - 'Boundaries/Comanda.Stores/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: Boundaries/Comanda.Stores

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: restore project dependencies
        run: dotnet restore

      - name: build
        run: dotnet build --no-restore --configuration Release

      - name: run tests
        run: dotnet test --no-build --configuration Release --verbosity normal
